.row
  .col-md-12

    %ul.nav.nav-tabs.issue-filter
      - @issue_filter_tabs.each do |tab, slug, count|
        -# figure out which filter tab is active
        - klass = params[:filter] == slug ? 'active' : nil
        - if slug.nil? && params[:filter].blank?
          - klass = 'active'

        %li{ class: klass }
          = link_to issues_path(filter: slug) do
            = tab
            %span.badge= count

.row
  .col-md-4
    = form_for Issue.new, url: issues_path do |f|
      .form-group
        = f.text_area :text, rows: 6, class: 'form-control', placeholder: 'Add a new task'

      .form-group
        = f.submit 'Create', class: 'btn btn-success btn-lg btn-block'
  .col-md-8
    - if @issues.count > 0
      = render @issues
    - else
      %span.no-issues
        No issues here!
