.row
  .col-md-12
    %ol.breadcrumb
      %li= link_to 'Dashboard', admin_dashboard_path
      %li.active Edit User

.page-header
  %h1.h2 Edit user #{@user.name}

.row
  .col-md-8

    = form_for @user, url: admin_user_path(@user) do |f|
      .form-group
        %label Name
        = f.text_field :name, class: 'form-control'

      .form-group
        %label Password or Chip ID
        = f.text_field :chip_id, class: 'form-control edit-user-chip-input'
        %span.help-block
          You can use the ID from your RFID device, provided you have access to a card reader.


      .form-group= f.submit 'Save', class: 'btn btn-success'

    %hr/

    - unless @user.id == current_user.id
      .panel.panel-danger
        .panel-heading DangerZone™
        %ul.list-group
          %li.list-group-item
            .row
              .col-sm-8
                - if @user.admin?
                  %strong #{@user.name} is an administrator.
                  %br/
                - else
                  %strong #{@user.name} is not an administrator.
                  %br/
                Admins have full permissions in all areas of the Ship log app.

              .col-sm-4
                = form_for @user, url: admin_user_path(@user) do |f|
                  = f.hidden_field :admin, value: !@user.admin

                  - admin_btn_text = @user.admin? ? 'Remove administrator rights' : 'Make administrator'
                  = f.submit admin_btn_text, class: 'btn btn-danger'

          %li.list-group-item
            .row
              .col-sm-8
                The user will be permanently removed, but notes and comments will remain.

              .col-sm-4= link_to 'Delete', admin_user_path(@user), class: 'btn btn-md btn-danger', method: :delete, data: { confirm: "'#{@user.name}' really delete? This cannot be reversed." }
